# Database Configuration
MONGODB_URI=your_mongodb_uri_here
MONGODB_DATABASE=MoneyManager

# Security Configuration
JWT_SECRET=your_secret_key_here
JWT_EXPIRATION=86400000

# Server Configuration
SERVER_PORT=8081
CORS_ALLOWED_ORIGINS=http://localhost:5173
